:root {
  --vp-home-hero-image-filter: blur(94px);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #3077c6,
    #d59f4c
  );
  --vp-home-hero-name-background: #d59f4c;
  --vp-c-brand-1: #d59f4c;
  --vp-button-brand-bg: #d59f4c;
  --vp-button-brand-hover-bg: #b07b29;
  --vp-code-color: #3077c6;
}

html.dark {
  --vp-code-color: #d59f4c;
}

.VPHero h1 {
  @media (min-width: 640px) {
    font-size: 84px !important;
    margin-bottom: 18px !important;
  }
}

.VPImage.image-src {
  max-width: 100px !important;
  max-height: 100px !important;
}

@media (min-width: 960px) {
  .VPHero.VPHomeHero {
    padding: calc(
        var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 160px
      )
      64px 144px;
  }

  .VPImage.image-src {
    max-width: 180px !important;
    max-height: 180px !important;
  }
}
